@import url("reset.css");
*{
    box-sizing: border-box;
}

body, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner, .newsletter, .informations, .first-article, 
.first-article__header p, .first-article__container, .articles-wrap, .second-article__header p, .categories, .forth-article, footer,.first-article__header{
    display: flex;
    width:95vw;
    max-width:940px; 
}
header{
    display: flex;
    max-width: 940px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: 900;
}
nav{
    display: flex;  
}
.logo{
    display: flex;
    align-items: flex-end;
    width:15vw;
    max-width:200px;
    height: 100px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;  
    
}
.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width:79vw;
    max-width: 760px;
    height: 100px;  
    
}
.navigation__item a{
    font-size: 17px;
    margin-left: 45px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.navigation__item a:hover{
    display: block;
    height: 25px;
    background: url("../img/underline.png") no-repeat bottom;
}
.navigation ul li{
    float: left;
    height: 25px;
}
.mobile-nav {
      display: none;
    }
.banner, .newsletter, .informations, .first-article{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.banner{
    height:550px;
    background-image: url("../img/Banner.png");   
}

.big_txt{
    text-shadow: #4d4d4d 0 0 15px;
    font-family: 'Raleway', sans-serif;
    color:white;
    text-transform: uppercase;
}
.small_txt{
    font-family: Arial, Helvetica, sans-serif;
    line-height:27px; 
    font-size: 15px; 
}
.p_date{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'arial black', Arial, Helvetica, sans-serif;
    height: 30px;
}
.read_more{
    margin-top: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.heading_thick{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
}
.heading_thin{
    text-transform: uppercase;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
}
.banner__text{
    font-size: 85px;
    letter-spacing: 8px;
    line-height: 90px;
    margin-bottom: 20px;
}
.first-article__container{
    flex-direction: row;
    justify-content: center;
}
.first-article__container__text h2{
    width:25vw;
    max-width:300px;
}
.first-article{
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.first-article__header p{
    justify-content: flex-end;
}
.first-article__container__text{
    width: 36vw;
    max-width: 430px;
    flex-grow: 1;
}
.first-article__container__text p[class=small_txt]{
    margin-top:30px;
}
.first-article__container__image{
    background: url('..//img/Article1_image.png') no-repeat center;
    background-size: cover; 
    width:60vw;
    max-width: 715px;
    height: 260px;
    flex-grow: 1;
}
.articles-wrap{
    justify-content: space-between;
    height: 980px;
    margin-top:50px;
    background: url("../img/vertical_block-Article2.png") no-repeat 37% 14%;
}
.second-article, .third-article, .third-article__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-article, .third-article{
    width: 45vw;
    max-width: 450px;;
    height: 980px; 
}
.second-article{
    background: url("../img/decoration_Article3.png") no-repeat 55% 95%;
}
.second-article__header p, .third-article__header{
    flex-grow: 1;
}
.second-article__image{
    height: 585px;
    background: url("..//img/Article2_image.png") no-repeat;
    background-size: cover;
}
.second-article__text{
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'arial black', sans-serif;
    line-height: 80px;
    font-weight: 900;
    padding-top: 135px;
    letter-spacing: 6px;
}
.third-article__text{
    flex-grow: 1;
}
.third-article__text h2, .forth-article__text h2{
   text-align: right;
}
.third-article__text__plaintext{
    width:42vw;
    max-width: 400px;
    margin-top: 50px;   
}
.third-article__text .p_date{
   text-align: right;
}
.third-article__text .read_more{
    text-align: left;
}
.third-article__image{
    height: 585px;
    background: url("..//img/Article3_image.png") no-repeat center;
    flex-grow: 1;
}
.newsletter{
    flex-direction: column;
    height: 260px;
    background: url("../img/signup_image.png") no-repeat center;
}
.newsletter h2{
    width:95vw;
    max-width: 940px;
    text-align: center;
    font-weight: 700;
    margin-top:20px;
    font-size: 45px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.newsletter__button{
    width:12vw;
    max-width:140px;
    height: 30px;
    background-color: white;
    color: black;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 12px;
}
.newsletter__button:hover{
    background-color: black;
    color: white;
    outline: none;
}
.newsletter__button:focus{
    background-color: #7cc3d3;
    outline: none;
}
.informations{
    flex-direction: column;
    height: 145px;
}
.informations header{
    display: flex;
    justify-content: space-evenly;
    width:39vw;
    max-width: 430px;
}
.informations header p, .footer__links p{
    text-align: center;
}
.informations header p a, .footer__links p a{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
} 
.informations__textarea{
    width:66vw;
    max-width:800px;
    height: 90px;
    text-align: center;
    margin-top:30px;
}
.categories__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    width:30vw;
    font-size: 70px;
    letter-spacing: 10px;
}
.categories{
    justify-content: space-between;
    margin-top: 100px;
}
.categories__item:nth-child(1){
    background: url("../img/Categories_image_mei.png") no-repeat center;
}
.categories__item:nth-child(2){
    background: url("../img/Categories_image_cibo.png") no-repeat center;
}
.categories__item:nth-child(3){
    background: url("../img/Categories_image_eum.png") no-repeat center;
}
section.categories__item h1{
    font-size: 5rem;
}
.forth-article{
    justify-content: space-between;
    margin-top: 100px;
    background: url("../img/decoration_element_article4.png") no-repeat 45% 50%;
}
.forth-article__image{
    height: 585px;
    width: 45vw;
    max-width: 470px;
    background: url("..//img/Article4_image.png") no-repeat center;
}
.forth-article__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 585px;
    width: 45vw;
    max-width: 460px;
}
.forth-article__text__plaintext p{
    margin-top:25px;
    width:43vw;
    max-width:450px;
}
footer{
    margin-top: 100px;
}
.footer__icons, .footer__links{
    display: flex;
    justify-content: space-between;
}
.footer__links{
    width:58vw;
    max-width:700px;
    min-width: 600px;
}
p.footer__links__item a{
    font-size: 1rem;
}
.footer__textarea{
    width:77vw;
    max-width:830px;
    text-align: center;
    margin-top:50px;  
}
.footer__icons{
    width:22vw;
    max-width:270px;
    min-width:230px;
    margin: 60px auto 100px;
}


/* Adaptive for medium devices under 768px - max container width-680px*/


@media only screen and (max-width:768px){
    *{
        box-sizing: border-box;
    }
    body, footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner, .newsletter, .informations, .first-article,  
    .first-article__header p, .first-article__header, .articles-wrap, .second-article__header p, .categories, .forth-article, footer{
        display: flex;
        width:95vw;
        max-width: 680px; 
    }
    .first-article__container{
        display: flex;
        flex-direction: column;
        width:95vw;
        max-width:680px;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width:95vw;
        max-width: 680px; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        font-weight: 900;
    }
    nav{
        width: 95vw;
        display: flex;  
        align-items:baseline;
    }
    .logo{
        display: flex;
        justify-content: flex-start;    
        align-items: center; 
        width:20vw; 
        max-width:200px;
        height: 50px;
        font-size: 40px;
        font-family: 'Oswald', sans-serif;  
        color: black;
        flex-grow: 1;
    }
    
    .navigation{
        display: none;
        justify-content: center;
        align-items: flex-end;
        width:75vw;
        max-width: 680px;
        height: 50px;
       
    }
    .navigation__item{
        display: flex;
        justify-content: flex-start;
        margin-top:10px;
        height: 25px;
        
    }
    .navigation__item a{
        font-size: 17px;
        margin-left: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    .navigation__item a:hover{
        display: block;
        height: 20px;
        background: url("../img/underline.png") no-repeat bottom;
    }
    .navigation ul li{
        float: left;
        height: 25px;
    }
    /* Collapsible manu button styles */


    .mobile-nav{
        text-align: right;
        display: flex;
        justify-content: flex-end;
        width:75vw;
        max-width: 480px;
        flex-grow: 1;
    }
    
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 15px;
        width: 15%;
        border: none;
        border-radius: 2%;
        text-align: center;
        outline: none;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 25px;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }
      
      .content {
        display: flex;
        position: absolute;
        left: -5px;
        top:70px;
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        background-color:white;
       
      }
      div.content .navigation__item{
          width:93vw;
      }
    
      /* End of collapsible manu button styles */
    
    
    .banner, .newsletter, .informations, .first-article{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .banner{
        height:550px;
        background: url("../img/Banner.png") no-repeat left;
    }
    section.banner h1{
        font-size: 4rem;
    }
    .big_txt{
        text-shadow: #4d4d4d 0 0 15px;
        font-family: 'Raleway', sans-serif;
        color:white;
        text-transform: uppercase;
    }
    .small_txt{
        font-family: Arial, Helvetica, sans-serif;
        line-height:27px; 
        font-size: 15px; 
    }
    .p_date{
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'arial black', Arial, Helvetica, sans-serif;
        height: 30px;
        text-align: right
        
    }
    .read_more{
        margin-top: 25px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .heading_thick{
        text-transform: uppercase;
        font-size: 50px;
        line-height: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:700;
    }
    .heading_thin{
        text-transform: uppercase;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:700;
    }
    .banner__text{
        font-size: 85px;
        letter-spacing: 8px;
        line-height: 90px;
        margin-bottom: 20px;
    }
    .first-article__container__text h2{
        width:75vw;
        max-width:500px;
    }
    .first-article{
        flex-direction: column;
        text-align: left;
    }
    .first-article__header p{
        justify-content: flex-end;
    }
    .first-article__container__text{
         width:56vw;
         max-width: 430px;
    }
    .first-article__container__text p[class=small_txt]{
        margin-top:30px;
    }
    .first-article__container__image{
        background: url('..//img/Article1_image.png') no-repeat center;
        background-size: cover; 
        width:95vw;
        max-width: 680px;
        height: 260px;
    }
    .articles-wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1700px;
        margin-top:50px;
        background: url("../img/vertical_block-Article2.png") no-repeat 50% 37%; 
    }
    .second-article, .third-article, .third-article__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .second-article, .third-article{
        width:95vw;
        max-width: 680px;
        height: 900px; 
    }
    .second-article{
        justify-content: center;
        align-items: center;
        background: none;
        margin-top:30px;
    }
    .third-article{
        justify-content: center;
        align-items: center;
        margin-left:0px;   
        background: url("../img/decoration_Article3.png") no-repeat 0% 0%;
    }
    .second-article__header p, .third-article__header{ 
        flex-grow: 0;
    }
    .second-article__header{
        display: flex;
        justify-content: flex-end;
        width:95vw;
        max-width: 680px;
    }
    .second-article__image{
        height: 405px;
        width:95vw;
        max-width: 680px;
        background: url("..//img/Article2_image.png") no-repeat center;
        background-size: cover;
        align-self: flex-start;
    }
    .second-article__text{
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 60px;
        font-family: 'arial black', sans-serif;
        line-height: 80px;
        font-weight: 900;
        padding-top: 35px;
        letter-spacing: 6px;
        width:65vw;
        max-width:500px;
    }
    .third-article__text{
        align-self: flex-end;
        flex-grow: 1;
    }
    .third-article__text h2, .forth-article__text h2{
       text-align: right;
    }
    .third-article__text__plaintext{
        width:95vw;
        max-width: 680px;
        margin-top: 50px; 
        order: 4;  
    }
    .third-article__text .p_date{
       order: 1;
       text-align: right;
    }
    .third-article__text .read_more{
        text-align: right;
        order: 5;
    }
    .third-article__text h2[class=heading_thin]{
        order: 2;
    }
    .third-article__text h2[class=heading_thick]{
        order: 3;
    }
    .third-article__image{
        align-self: flex-start;
        width:95vw;
        max-width: 680px;
        height: 405px;
        background: url("..//img/Article3_image.png") no-repeat center;
        background-size: cover;
        flex-grow: 1;
        margin-top:20px;
    }
    .newsletter{
        flex-direction: column;
        height: 260px;
        background: url("../img/signup_image.png") no-repeat center;
        margin-top:50px;
    }
    .newsletter h2{
        width:95vw;
        max-width: 680px;
        text-align: center;
        font-weight: 700;
        margin-top:20px;
        font-size: 45px;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .newsletter__button{
        width:12vw;
        max-width: 140px;
        min-width:100px;
        height: 30px;
        background-color: white;
        color: black;
        box-shadow: none;
        border: none;
        border-radius: 20px;
        margin-top: 20px;
        font-weight: 700;
        font-size: 12px;
    }
    .newsletter__button:hover{
        background-color: black;
        color: white;
        outline: none;
    }
    .newsletter__button:focus{
        background-color: #7cc3d3;
        outline: none;
    }
    .informations{
        flex-direction: column;
        height: 145px;
        margin-top:50px;
    }
    .informations header{
        display: flex;
        justify-content: space-evenly;
        width:60vw;
        max-width: 465px;
    }
    .informations header p, .footer__links p{
        text-align: center;
    }
    .informations header p a, .footer__links p a{
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    } 
    .informations__textarea{
        width:95vw;
        max-width:680px;
        height: 90px;
        text-align: center;
        margin-top:30px;
    }
    .categories__item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 470px;
        width:30vw;
        max-width:220px;
        font-size: 70px;
        letter-spacing: 2px;
    }
    .categories{
        justify-content: space-between;
        margin-top: 100px;
    }
    .categories__item:nth-child(1){
        background: url("../img/Categories_image_mei.png") no-repeat center;
    }
    .categories__item:nth-child(2){
        background: url("../img/Categories_image_cibo.png") no-repeat center;
    }
    .categories__item:nth-child(3){
        background: url("../img/Categories_image_eum.png") no-repeat center;
    }
    section.categories__item h1{
        font-size: 3rem;
    }
    .forth-article{
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        background: url("../img/decoration_element_article4.png") no-repeat 45% 50%;
        margin-bottom:10px;
    }
    .forth-article__image{
        height: 585px;
        width:95vw;
        max-width: 680px;
        background: url("..//img/Article4_image.png") no-repeat;
        background-size: cover;
    }
    .forth-article__text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 500px;
        width:80vw;
        max-width: 600px;
        margin-top:50px;
    }
    .forth-article__text__plaintext p{
        margin-top:25px;
        width:67vw;
        max-width:515px;
    }
    footer{
        margin-top: 60px;
    }
    .footer__icons, .footer__links{
        display: flex;
        justify-content: space-between;
    }
    .footer__links{
        flex-wrap: wrap;
        width:80vw;
        min-width: 450px;
    }
    p.footer__links__item a{
        font-size: 0.85rem;
    }
    .footer__textarea{
        width:95vw;
        max-width:680px;
        text-align: center;
        margin-top:50px;  
    }
    .footer__icons{
        width:35vw;
        max-width:270px;
        margin: 60px auto 100px;
    }
}

    /* Adaptive for extra large  devices over 1200px - max container width-1140px*/

    @media only screen and (min-width:1200px){
        *{
            box-sizing: border-box;
        }
      
        body, footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        header, .banner, .newsletter, .informations, .first-article, 
        .first-article__header p, .first-article__header, .first-article__container, .articles-wrap, .second-article__header p, .categories, .forth-article, footer{
            display: flex;
            width:95vw;
            max-width:1140px; 
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            font-weight: 900;
        }
        nav{
            display: flex;  
        }
        .logo{
            display: flex;
            align-items: flex-end;
            width:10vw;
            max-width:180px;
            height: 100px;
            font-size: 40px;
            font-family: 'Oswald', sans-serif; 
            margin-left: 15px; 
        }
        .navigation{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width:79vw;
            max-width: 950px;
            height: 100px;  
        }
        .navigation__item a{
            font-size: 17px;
            margin-left: 45px;
            height: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
        }
        .navigation__item a:hover{
            display: block;
            height: 25px;
            background: url("../img/underline.png") no-repeat bottom;
        }
        .navigation ul li{
            float: left;
            height: 25px;
        }
        .mobile-nav {
              display: none;
            }
        .banner, .newsletter, .informations, .first-article{
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 70px;
        }
        .banner{
            height:550px;
            background-image: url("../img/Banner.png");   
        }
        .big_txt{
            text-shadow: #4d4d4d 0 0 15px;
            font-family: 'Raleway', sans-serif;
            color:white;
            text-transform: uppercase;
        }
        .small_txt{
            font-family: Arial, Helvetica, sans-serif;
            line-height:27px; 
            font-size: 15px; 
        }
        .p_date{
            text-transform: uppercase;
            font-size: 20px;
            font-family: 'arial black', Arial, Helvetica, sans-serif;
            height: 30px;
        }
        .read_more{
            margin-top: 25px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        .heading_thick{
            text-transform: uppercase;
            font-size: 50px;
            line-height: 60px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight:700;
        }
        .heading_thin{
            text-transform: uppercase;
            font-size: 35px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight:700;
        }
        .banner__text{
            font-size: 85px;
            letter-spacing: 8px;
            line-height: 90px;
            margin-bottom: 20px;
        }
        .first-article__container__text_header, .first-article__container__text_plaintext{
            width:30vw;
            max-width:370px;
        }
        .first-article__container__text h2{
            width:25vw;
            max-width:300px;
        }
        .first-article{
            flex-direction: column;
            text-align: left;
        }
        .first-article__header p{
            justify-content: flex-end;
        }
        .first-article__container__text{
            width: 36vw;
            max-width: 430px;
        }
        .first-article__container__text p[class=small_txt]{
            margin-top:30px;
        }
        .first-article__container__image{
            background: url('..//img/Article1_image.png') no-repeat center;
            background-size: cover;
            width: 59vw;
            max-width: 713px;
            height: 260px;
        }
        .articles-wrap{
            height: 980px;
            margin-top:50px;
            background: url("../img/vertical_block-Article2.png") no-repeat 37% 14%;
        }
        .second-article, .third-article, .third-article__text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .second-article, .third-article{
            width:45vw;
            max-width: 540px;
            height: 980px; 
        }
        .second-article{
            background: url("../img/decoration_Article3.png") no-repeat 55% 95%;
        }
        .third-article{
            margin-left:60px;   
        }
        .second-article__header p, .third-article__header{
            flex-grow: 1;
        }
        .second-article__image{
            height: 585px;
            width:45vw;
            max-width: 540px;
            background: url("..//img/Article2_image.png") no-repeat center;
        }
        .second-article__text{
            text-transform: uppercase;
            font-size: 60px;
            font-family: 'arial black', sans-serif;
            line-height: 80px;
            font-weight: 900;
            padding-top: 135px;
            letter-spacing: 6px;
        }
        .third-article__text{
            flex-grow: 1;
        }
        .third-article__text h2, .forth-article__text h2{
           text-align: right;
        }
        .third-article__text__plaintext{
            width:42vw;
            max-width:500px;
            margin-top: 50px;   
        }
        .third-article__text .p_date{
           text-align: right;
        }
        .third-article__text .read_more{
            text-align: left;
        }
        .third-article__image{
            width:45vw;
            max-width: 540px;
            height: 585px;
            background: url("..//img/Article3_image.png") no-repeat center;
            flex-grow: 1;
        }
        .newsletter{
            flex-direction: column;
            height: 260px;
            background: url("../img/signup_image.png") no-repeat center;
        }
        .newsletter h2{
            width:95vw;
            max-width: 1140px;
            text-align: center;
            font-weight: 700;
            margin-top:20px;
            font-size: 45px;
            letter-spacing: 2px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .newsletter__button{
            width:12vw;
            max-width:140px;
            height: 30px;
            background-color: white;
            color: black;
            box-shadow: none;
            border: none;
            border-radius: 20px;
            margin-top: 20px;
            font-weight: 700;
            font-size: 12px;
        }
        .newsletter__button:hover{
            background-color: black;
            color: white;
            outline: none;
        }
        .newsletter__button:focus{
            background-color: #7cc3d3;
            outline: none;
        }
        .informations{
            flex-direction: column;
            height: 145px;
        }
        .informations header{
            display: flex;
            justify-content: space-evenly;
            width:39vw;
            max-width: 465px;
        }
        .informations header p, .footer__links p{
            text-align: center;
        }
        .informations header p a, .footer__links p a{
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
        } 
        .informations__textarea{
            width:66vw;
            max-width:800px;
            height: 90px;
            text-align: center;
            margin-top:30px;
        }
        .categories__item{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 470px;
            width:30vw;
            max-width:360px;
            font-size: 70px;
            letter-spacing: 10px;
        }
        .categories{
            justify-content: space-between;
            margin-top: 100px;
        }
        .categories__item:nth-child(1){
            background: url("../img/Categories_image_mei.png") no-repeat center;
        }
        .categories__item:nth-child(2){
            background: url("../img/Categories_image_cibo.png") no-repeat center;
        }
        .categories__item:nth-child(3){
            background: url("../img/Categories_image_eum.png") no-repeat center;
        }
        .forth-article{
            justify-content: space-between;
            margin-top: 100px;
            background: url("../img/decoration_element_article4.png") no-repeat 45% 50%;
        }
        .forth-article__image{
            height: 585px;
            width:45vw;
            max-width: 540px;
            background-image: url("..//img/Article4_image.png");
        }
        .forth-article__text{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 585px;
            width:45vw;
            max-width: 540px;
        }
        .forth-article__text__plaintext p{
            margin-top:25px;
            width:43vw;
            max-width:515px;
        }
        footer{
            margin-top: 100px;
        }
        .footer__icons, .footer__links{
            display: flex;
            justify-content: space-between;
        }
        .footer__links{
            flex-wrap: wrap;
            width:58vw;
            max-width:770px;
        }
        p.footer__links__item a{
            font-size: 1rem;
        }
        .footer__textarea{
            width:77vw;
            max-width:930px;
            text-align: center;
            margin-top:50px;  
        }
        .footer__icons{
            width:22vw;
            max-width:270px;
            margin: 60px auto 100px;
        }
    }